* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101117;
}

.item-grid {
  display: grid;
  width: 45%;
  height: auto;
  background-color: #1C1F23;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 0px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
}

.item-card {
  background-color: #1C1F23;
  margin: auto;
  border-radius: 10px;
  width: 50px;
  padding: 0px;
}

.item-card h2 {
  background-color: #1C1F23;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  font-weight: lighter;
}

.item-card img {
  border: 1px solid white;
  width: 50px;
  border-radius: 10px;
}