@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300;500&display=swap");
@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101117;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow-y: scroll;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px 0px;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

/* Estilos específicos de ItemFilters */
.item-filters {
  width: auto;
  background-color: #1c1f23;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
}

.checkbox-container {
  background-color: #1c1f23;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 8px;
}

.checkbox-container label {
  background-color: #1c1f23;
  color: white;
}

/* Estilos específicos de ItemGrid */
.item-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #1c1f23;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 15px;
  width: 500px;
  height: auto;
}

.item-grid-search-and-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: #1c1f23;
}

.item-grid-search {
  width: 75%;
  display: flex;
  border: 1px solid white;
  align-items: center;
  align-self: start;
  border-radius: 6px;
}

.item-grid-search i {
  color: white;
  margin-inline: 8px;
}

.item-grid-search input {
  all: unset;
  width: 100%;
  height: 25px;
  font-weight: bold;
  color: white;
  padding: 4px;
  margin-left: 0;
  text-align: left;
}

.item-grid-filter {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1f23;
}

.item-grid-filter select {
  all: unset;
  width: 100%;
  height: 25px;
  font-weight: lighter;
  color: white;
  padding: 4px 8px;
  margin-left: 0;
  text-align: left;
  background-color: #101117;
  border: 1px solid white;
  border-radius: 6px;
  align-items: center;
}

.item-grid {
  width: 100%;
  display: grid;
  background-color: #1c1f23;
  gap: 0.3rem 2rem;
  grid-template-columns: repeat(6, 1fr);
}

.item-grid.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card {
  background-color: #1c1f23;
  margin: auto;
  border-radius: 10px;
  width: 50px;
  padding: 0px;
}

.item-card h2 {
  background-color: #1c1f23;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.item-card img {
  border: 1px solid white;
  width: 50px;
  border-radius: 10px;
}

.item-grid p {
  background-color: #1c1f23;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-weight: lighter;
  width: 100%;
}

/* Estilos específicos de BuildCard */
.empty-build-card {
  background-color: #1c1f23;
  border-radius: 6px;
  border: 1px solid white;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-build-card h2 {
  background-color: #1c1f23;
  color: white;
  font-size: 1.15rem;
  font-weight: 700;
  font-weight: lighter;
}

.build-card-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.build-card-header {
  padding: 0px 6px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4px;
}

.build-card-header p {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-weight: lighter;
  margin-right: auto;
  justify-content: start;
  align-items: start;
  align-self: flex-end;
  margin-bottom: 0px;
}

.build-card-header button {
  width: 25px;
  height: 25px;
  background-color: #1c1f23;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.build-card-header i {
  background-color: #1c1f23;
}

.build-card {
  background-color: #1c1f23;
  border-radius: 10px;
  border: 1px solid white;
  width: 350px;
  height: 125px;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.build-champion {
  background-color: #1c1f23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.build-champion img {
  border: 1px solid white;
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

.build-champion h2 {
  background-color: #1c1f23;
  color: white;
  width: 50px;
  font-size: 0.8rem;
  font-weight: 700;
  font-weight: lighter;
}

.build-items-grid {
  background-color: #1c1f23;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem 0.5rem;
  justify-content: center;
  align-items: center;
}

.build-items-slot {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101117;
  border: 1px solid white;
  border-radius: 10px;
}

.build-items-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.build-items-trinket {
  border: 1px solid white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: #1c1f23;
  display: flex;
}

.build-items-trinket img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
